### PROTECT FILES ###
<FilesMatch "\.(htaccess|htpasswd|ini|fla|psd|log|sh)$">
Order Allow,Deny
Deny from all
</FilesMatch>

RewriteEngine on
RewriteRule blogi index.html
RewriteRule uzyskaj-pomoc pomoc.html
RewriteRule skontaktuj-się-z-nami kontakt.html
RewriteRule autorzy-wespazjan-kostka kostka.html
RewriteRule autorzy-scooby-doo scooby.html
RewriteRule autorzy-adrian-hadrian hadrian.html
RewriteRule tematyczne-kino kino.html
RewriteRule tematyczne-muzyka muzyka.html
RewriteRule tematyczne-programowanie programowanie.html
